/*** BASIC RESET ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: bold 14px Arial, sans-serif;
}

body {
  background: #61EDB8;
}

#calculator {
  width: 325px;
  margin: 100px auto;
  padding: 20px 20px 9px;
  background: linear-gradient(#F07012, #F08D12);
 /* background: linear-gradient(to bottom, #4c4c4c 0%,#595959 18%,#666666 31%,#2c2c2c 55%,#1c1c1c 91%,#131313 100%);*/
  border-radius: 5px;
  box-shadow: 0 7px #CC780F, 0px 10px 15px rgba(0,0,0,0.6);
}

/* change the font size of the button */
#calculator span {
  font-size: 3em;
}

.top,
.keys {
  text-align: center;
  /*technique to clear floats elem*/
  overflow: hidden;
}

/* top portion */
.top .screen {
  height: 40px;
  width: 212px;
  float: right;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  box-shadow: inset 3px 4px rgba(0,0,0,0.2);

  /* typography */
  font-size: 18px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-align: right;
  padding: 0 6px 0;
  letter-spacing: 0.05em;
}


.top span.clear,
.keys span {
  float: left;
  /* position:relative; so you can change the status on :active */
  position: relative;
  width: 66px;
  height: 76px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  margin: 0 7px 11px 0;
  color: #888;
  line-height: 75px;
  /* make the keys look like a button */
  cursor: pointer;
  /* prevent selection of text inside keys */
  -webkit-user-select: none; 
  user-select: none;
  /* smoothing out hover and active states using css3 transitions */
  transition: all 0.2s ease;
}

/* style different type of keys  =/+/÷/x */
.keys span.operator {
  background: #4CE3D9;
  color: white;
  margin-left: 0;
}

.keys span.eval {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
}

.top span.clear {
  background: #3D5254;
  box-shadow: 0px 5px #557375;
  color: white;
}

/* hover effects */
.keys span:hover {
  background: #9c89f6;
  box-shadow: 0px 4px #6b54d3;
  color: white;
}

.keys span.eval:hover {
  background: tomato;
  box-shadow: 0px 4px red;
  color: #ffffff;
}

.top span.clear:hover {
  background: #f68991;
  box-shadow: 0px 4px #d3545d;
  color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}

.keys span.eval:active {
  box-shadow: 0px 0px #717a33;
  top: 4px;
}

.top span.clear:active {
  top: 4px;
  box-shadow: 0px 0px #d3545d;
}

/* remove the margin from the operator keys */
span.operator {
  margin-right: 0;
}








































