/*** BASIC RESET ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#calculator {
  border: 1px solid black;
  
  width: 325px;
  height: auto;

  margin: 100px auto;
  padding: 20px;

  background: linear-gradient(to bottom, #4c4c4c 0%,#595959 18%,#666666 31%,#2c2c2c 55%,#1c1c1c 91%,#131313 100%);
  border-radius: 5px;
}