/*** BASIC RESET ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: bold 14px Arial, sans-serif;
}

#calculator {
  width: 325px;
  margin: 100px auto;
  padding: 20px 20px 9px;
  background: linear-gradient(#9dd2ea, #8bceec);
 /* background: linear-gradient(to bottom, #4c4c4c 0%,#595959 18%,#666666 31%,#2c2c2c 55%,#1c1c1c 91%,#131313 100%);*/
  border-radius: 5px;
  box-shadow: 0 7px #009de4, 0px 10px 15px rgba(0,0,0,0.6);
}

.top,
.keys {
  text-align: center;
  /*technique to clear floats elem*/
  overflow: hidden;
}

/* top portion */
.top .screen {
  height: 40px;
  width: 212px;
  float: right;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  box-shadow: inset 3px 4px rgba(0,0,0,0.2);
}


.top span.clear,
.keys span {
  float: left;
  /* position:relative; so you can change the status on :active */
  position: relative;
  width: 66px;
  height: 36px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  margin: 0 7px 11px 0;
  color: #888;
  line-height: 38px;
  /* make the keys look like a button */
  cursor: pointer;
  /* prevent selection of text inside keys */
  -webkit-user-select: none; 
  user-select: none;
}

/* style different type of keys  =/+/รท/x */
.keys span.operator {
  background: #FFF0F5;
  margin-left: 0;
}

.keys span.eval {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
}

.top span.clear {
  background: #ff9fa8;
  box-shadow: 0px 5px #ff7c87;
  color: white;
}

/* hover effects */
.keys span:hover {
  background: #9c89f6;
  box-shadow: 0px 4px #6b54d3;
  color: white;
}

.keys span.eval:hover {
  background: #abb850;
  box-shadow: 0px 4px #717a3;
  color: #ffffff;
}

.top span.clear:hover {
  background: #f68991;
  box-shadow: 0px 4px #d3545d;
  color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}

.keys span.eval:active {
  box-shadow: 0px 0px #717a33;
  top: 4px;
}

.top span.clear:active {
  top: 4px;
  box-shadow: 0px 0px #d3545d;
}




/* remove the margin from the operator keys */
span.operator {
  margin-right: 0;
}








































